<br>
<div class="d-flex justify-content-center">
    <form id="login" class="container login-card">
        <div class="mb-3 pl-3">
            <h3>Log In</h3>
            <input type="text" placeholder="username" id="loginUsername" class="form-control"><br>
            <input type="password" placeholder="password" id="loginPassword" class="form-control"><br>
            <button>Login</button>
        </div>
    </form>
    <form id="signup" class="container login-card">
        <div class="mb-3 pl-3">
            <h3>Sign Up</h3>
            <input type="text" placeholder="username" id="signupUsername" class="form-control"><br>
            <input type="password" placeholder="password" id="signupPassword" class="form-control"><br>
            <input type="password" placeholder="confirm password" id="signupConfirm" class="form-control"><br>
            <button>Sign Up</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>